@charset "UTF-8";
/* Breakpoints

X-Small	        None	<576px
Small	        sm	    ≥576px
Medium	        md	    ≥768px
Large	        lg  	≥992px
Extra large	    xl	    ≥1200px
Extra extra     large	xxl	≥1400px

*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/*-- Réglage Général ----------------------------------------------------------------*/
body {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

p {
  margin: 8px 0;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInSub {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInSub {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
  }
}
/*-- Header -------------------------------------------------------------------------*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#container_fleche {
  padding: 5px;
}

#container_logo {
  width: 150px;
  height: 30px;
}

header img {
  object-fit: contain;
}

#container_fleche_off {
  padding: 5px;
  color: white;
}

/*-- Section Lieu -------------------------------------------------------------------*/
#section_lieu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  padding: 15px 20px;
  box-shadow: inset 0px 3px 3px #cccccc;
}

#lieu {
  background-color: #eaeaea;
  border: none;
  margin: 0 15px;
  font-family: "Roboto";
  font-size: 18px;
  text-align: center;
  transition-duration: 300ms;
}
#lieu:focus {
  outline: none;
  border-radius: 20px;
  background-color: white;
}

/*-- Section Titres -----------------------------------------------------------------*/
#section_titres {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
  padding: 40px 20px;
}

h1 {
  margin: 0px;
  font-weight: 500;
}

h2 {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 100;
}

.btn-stylé {
  margin: 20px 0;
  border: none;
  padding: 15px 20px;
  border-radius: 50px;
  color: white;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: -webkit-linear-gradient(top, #ff79da, #9356dc);
  cursor: pointer;
  transition: 400ms;
}
.btn-stylé:hover {
  transform: translateY(-0.1em);
  opacity: 85%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
}

/*-- Section Fonctionnement ---------------------------------------------------------*/
#section_fonctionnement {
  padding: 20px;
  padding-bottom: 60px;
  background-color: white;
}

h3 {
  font-size: 24px;
}

#container_bouttons_fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}

.container_number_boutton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bouttons_fonctionnement {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 11px;
  border: none;
  padding: 25px 20px;
  border-radius: 20px;
  background-color: #f6f6f6;
  color: black;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition-duration: 300ms;
}
.bouttons_fonctionnement:hover {
  transform: scale(1.02);
}

.numbers {
  padding: 2px 7px;
  border-radius: 50px;
  background-color: #9356dc;
  color: white;
  position: absolute;
  left: -11px;
}

.icone_fonctionnement {
  position: absolute;
  left: 30px;
  color: #666666;
}

/*-- Section Menu -------------------------------------------------------------*/
.photo_menu_container {
  object-fit: cover;
}

#section_menu {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -30px;
  border-radius: 20px 20px 0 0;
  padding: 20px;
  background-color: #f6f6f6;
}

.container_titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h5 {
  font-family: "Shrikhand";
  font-size: 24px;
  margin: 0;
}

.fa-heart {
  font-size: 24px;
}

#container_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}

h6 {
  margin: 10px 0px;
  font-size: 16px;
  font-weight: 300;
  -webkit-animation: fadeInSub 1000ms backwards;
  animation: fadeInSub 1000ms backwards;
}

.subtitle_line {
  width: 35px;
  border-bottom: 3px solid #99e2d0;
  position: relative;
  bottom: 5px;
  -webkit-animation: fadeInSub 1000ms backwards;
  animation: fadeInSub 1000ms backwards;
}

.container_bouttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
  margin-top: 5px;
  margin-bottom: 40px;
}

.btn {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.35) 0px 8px 24px;
  padding: 10px 10px;
  margin: 0;
  font-weight: 100;
  transition: 400ms;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
.btn--1 {
  animation-delay: 111.1111111111ms;
}
.btn--2 {
  animation-delay: 222.2222222222ms;
}
.btn--3 {
  animation-delay: 333.3333333333ms;
}
.btn--4 {
  animation-delay: 444.4444444444ms;
}
.btn--5 {
  animation-delay: 555.5555555556ms;
}
.btn--6 {
  animation-delay: 666.6666666667ms;
}
.btn--7 {
  animation-delay: 777.7777777778ms;
}
.btn--8 {
  animation-delay: 888.8888888889ms;
}
.btn .nom-plat {
  font-weight: 400;
}
.btn:hover {
  transform: scale(1.02);
}

.container_description_prix {
  display: flex;
  justify-content: space-between;
}
.container_description_prix .description-plat {
  font-size: 14px;
}
.container_description_prix .prix {
  font-size: 14px;
  font-weight: 400;
}

#section_menu .btn-stylé {
  align-self: center;
  padding: 15px 50px;
}

main {
  background-color: #f6f6f6;
}

/*-- Section Restaurants -------------------------------------------------------------*/
article {
  background-color: #f6f6f6;
  padding: 20px;
  padding-bottom: 60px;
}

#conteneur_restaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}

.restaurant {
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 400ms;
}
.restaurant:hover {
  transform: scale(1.02);
}

.new_label {
  width: fit-content;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: #99e2d0;
  color: #278870;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
}

.image_restaurant_container {
  width: 100%;
  height: 170px;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.container_text_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
}

h4 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
}

.text_box_restaurant p {
  margin: 0;
  font-weight: 300;
}

.fa-heart {
  padding: 10px;
  cursor: default;
  transition: 500ms;
}
.fa-heart:hover {
  color: #9356dc;
  transform: translateY(-0.1em);
}

/*-- Footer -------------------------------------------------------------------------*/
footer {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  background-color: #353535;
  color: white;
  padding: 20px;
}

footer h5 {
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 10px;
}

.text_footer {
  display: flex;
  align-items: center;
}

.fa-utensils {
  margin-right: 15px;
}

.fa-hands-helping {
  margin-right: 8px;
}

footer a {
  padding: 5px 0;
  width: fit-content;
  color: white;
  transition: 200ms;
}
footer a:hover {
  border-left: 3px solid #9356dc;
  padding-left: 10px;
}

/*# sourceMappingURL=style.css.map */
