@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
/* Code Couleur ---

#9356DC
#FF79DA
#99E2D0

-------------------- */

/*--------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------*/
/*-- Media Queries Smartphone ----------------------------------------------------------------*/

@media screen and (max-width: 576px) {
  /*-- Réglage Général ----------------------------------------------------------------*/
  body {
    margin: 0;
  }

  a {
    color: black;
    text-decoration: none;
  }

  p {
    margin: 8px 0;
  }

  /*-- Header -------------------------------------------------------------------------*/

  header {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  header img {
    object-fit: contain;
  }

  /*-- Section Lieu -------------------------------------------------------------------*/

  #section_lieu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(234, 234, 234);
    padding: 15px 20px;
    box-shadow: inset 0px 3px 3px rgb(204, 204, 204);
  }

  #section_lieu p {
    margin: 0 15px;
  }

  /*-- Section Titres -----------------------------------------------------------------*/

  #section_titres {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(246, 246, 246);
    padding: 40px 20px;
  }

  h1 {
    margin: 0px;
    font-weight: 500;
  }

  h2 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 100;
  }

  #boutton_explorez_nos_restaurants {
    margin: 20px 0;
    border: none;
    padding: 15px 20px;
    border-radius: 50px;
    background-color: #ff79da;
    color: white;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  /*-- Section Fonctionnement ---------------------------------------------------------*/

  #section_fonctionnement {
    padding: 20px;
    padding-bottom: 60px;
  }

  h3 {
    font-size: 24px;
  }

  #container_bouttons_fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
  }

  .bouttons_fonctionnement {
    border: none;
    padding: 25px 20px;
    border-radius: 20px;
    background-color: rgb(246, 246, 246);
    color: black;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  /*-- Section Restaurant -------------------------------------------------------------*/

  article {
    background-color: rgb(246, 246, 246);
    padding: 20px;
    padding-bottom: 60px;
  }

  #conteneur_restaurants {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
  }

  .restaurant {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .image_restaurant_container {
    width: 100%;
    height: 170px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }

  .text_box_restaurant {
    padding: 15px 10px;
  }

  h4 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
  }

  .text_box_restaurant p {
    margin: 0;
    font-weight: 300;
  }

  /*-- Footer -------------------------------------------------------------------------*/

  footer {
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 20px;
  }

  h5 {
    margin: 12px 0;
    font-family: "Shrikhand";
    font-size: 18px;
    font-weight: normal;
  }

  .text_footer {
    display: flex;
    align-items: center;
  }

  .fa-utensils {
    margin-right: 15px;
  }

  .fa-hands-helping {
    margin-right: 8px;
  }
}
