/*-- Section Fonctionnement ---------------------------------------------------------*/

#section_fonctionnement {
  position: relative;
  padding: 20px;
  padding-bottom: 60px;
  background-color: white;
}

h3 {
  font-size: 24px;
}

#container_bouttons_fonctionnement {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  @include tablet {
    justify-content: space-between;
    flex-direction: column;
  }
  @include mobile {
    justify-content: space-between;
    flex-direction: column;
  }
}

.bouttons_fonctionnement {
  position: relative;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-left: 11px;
  padding: 25px 20px;
  border-radius: 20px;
  background-color: rgb(246, 246, 246);
  color: black;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition-duration: 300ms;
  @include laptop {
    width: 30%;
  }
  @include tablet {
    width: auto;
  }
  @include mobile {
    width: auto;
  }
  &:hover {
    transform: scale(1.02);
  }
}

.container_number_boutton {
  position: absolute;
  padding: 2px 7px;
  border-radius: 50px;
  background-color: $color-primary;
  color: white;
  left: -11px;
}

.icone_fonctionnement {
  position: absolute;
  left: 25px;
  color: lighten(black, 40%);
}

.bouttons_fonctionnement3 {
  background-color: rgba($color-primary, 0.2);
}

.bouttons_fonctionnement3 .icone_fonctionnement {
  color: $color-primary;
}
