/*-- Footer -------------------------------------------------------------------------*/

footer {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  background-color: rgb(53, 53, 53);
  color: white;
  padding: 20px;
}

footer h5 {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 10px;
}

.text_footer {
  display: flex;
  align-items: center;
  padding: 5px 0;
  width: fit-content;
  transition: 200ms;
  color: white;
  border: 0px solid $color-primary;
  cursor: pointer;
}

.fa-utensils {
  margin-right: 15px;
}

.fa-hands-helping {
  margin-right: 8px;
}

footer a {
  margin: 0;
  padding: 5px 0;
  width: fit-content;
  transition: 200ms;
  color: white;
  border: 0px solid $color-primary;
  cursor: pointer;
  &:hover {
    border-left: 3px solid $color-primary;
    padding-left: 10px;
  }
}
