/*-- Section Menu -------------------------------------------------------------*/

main {
  background-color: rgb(246, 246, 246);
}

.photo_menu_container {
  object-fit: cover;
}

#section_menu {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -30px;
  border-radius: 20px 20px 0 0;
  padding: 20px;
  background-color: rgb(246, 246, 246);
}

.container_titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h5 {
  font-family: "Shrikhand";
  font-size: 24px;
  margin: 0;
}

.full_heart {
  font-size: 22px;
  z-index: 1;
  position: relative;
  background: -webkit-linear-gradient($color-secondary, $color-primary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  margin-right: 15px;
}

// Pour la page d'accueil

#conteneur_restaurants .box {
  background: -webkit-linear-gradient(white, transparent);
}

// Pour les menus

.box {
  z-index: 2;
  position: absolute;
  background: -webkit-linear-gradient(rgb(246, 246, 246), transparent);
  overflow: hidden;
  right: 0;
  height: 22px;
  width: 22px;
  margin-right: 15px;
}

.empty_heart {
  font-size: 22px;
  z-index: 3;
  position: absolute;
  right: 0;
  margin-right: 15px;
  cursor: pointer;
  &:hover {
    animation: heart-fade 800ms both;
  }
  &:hover + .full_heart {
    animation: heart-fill 400ms both;
  }
  &:hover ~ .box {
    animation: boxmove 600ms ease-in-out both;
  }
}

#container_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}

h6 {
  margin: 10px 0px;
  font-size: 16px;
  font-weight: 300;
  -webkit-animation: fadeInSub 1000ms backwards;
  animation: fadeInSub 1000ms backwards;
}

.subtitle_line {
  width: 35px;
  border-bottom: 3px solid $color-tertiary;
  position: relative;
  bottom: 5px;
  -webkit-animation: fadeInSub 1000ms backwards;
  animation: fadeInSub 1000ms backwards;
}

.container_bouttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
  margin-top: 5px;
  margin-bottom: 40px;
}

.btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.35) 0px 8px 24px;
  margin: 0;
  font-weight: 100;
  transition: 400ms;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: $btn-anim-dur;
  animation-duration: $btn-anim-dur;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  @for $i from 1 to 9 {
    &--#{$i} {
      animation-delay: $btn-anim-delay * $i;
    }
  }
  &:hover {
    transform: scale(1.02);
  }
  &:hover > .container_prix {
    animation: checkbox 1s both alternate;
  }
  &:hover > .container_prix > .check > .fa-check-circle {
    animation: rotate 1s both alternate;
  }
}

.container_description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  row-gap: 10px;
  margin: 10px;
  .nom-plat {
    font-weight: 400;
  }
  .description-plat {
    font-size: 14px;
  }
}

.container_prix {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  transform: translateX(60%);
  .prix {
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
  }
  .check {
    background-color: $color-tertiary;
    height: auto;
    padding: 20px 20px;
    color: white;
    font-size: 1.5rem;
  }
}

#section_menu .btn-stylé {
  align-self: center;
  padding: 15px 50px;
}
