// Pour la page d'accueil

#conteneur_restaurants .box {
  background: -webkit-linear-gradient(white, transparent);
  background: -moz-linear-gradient(white, transparent);
  background: linear-gradient(white, transparent);
}

.container_heart {
  position: relative;
  display: flex;
  align-items: center;
}

// Pour les menus

.full_heart {
  font-size: 26px;
  z-index: 1;
  position: relative;
  background: -webkit-linear-gradient($color-primary, $color-secondary);
  background: linear-gradient($color-primary, $color-secondary);
  background: -moz-linear-gradient($color-primary, $color-secondary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  margin-right: 15px;
}

.box {
  z-index: 2;
  position: absolute;
  background: -webkit-linear-gradient(rgb(246, 246, 246), transparent);
  background: linear-gradient(rgb(246, 246, 246), transparent);
  background: -moz-linear-gradient(rgb(246, 246, 246), transparent);
  overflow: hidden;
  right: 0;
  height: 26px;
  width: 26px;
  margin-right: 15px;
}

.empty_heart {
  font-size: 26px;
  z-index: 3;
  position: absolute;
  right: 0;
  margin-right: 15px;
  cursor: pointer;
  &:hover {
    animation: heart-fade 800ms both;
  }
  &:hover + .full_heart {
    animation: heart-fill 400ms both;
  }
  &:hover ~ .box {
    animation: boxmove 600ms ease-in-out both;
  }
}
