.loader {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icone_chargement {
  font-size: 45px;
  padding: 30px;
  animation: morph 3s ease-in-out infinite;
  border: 2px solid white;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}

.fa-utensils {
  margin: 0;
  color: rgb(255, 255, 255);
}
